$base-color: #70b913;

// 导航栏相关
$navBarBg: $base-color; // 导航栏背景颜色
$navBarTitle: #fff; // 导航栏文字颜色

// font
$super-font-size: 16px;
$base-font-size: 14px;
$sub-font-size: 12px;

// 文本颜色
$base-font-color: #212121;
$sub-font-color: #8b8b8b;
$minor-font-color: #c7c7c7;
$border-color: #e0e0e0;

$bg-color: #f5f5f5;